.quoteButtons {
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    flex-direction: row;
  }
  
  #new-quote, #tweet-quote{
    cursor: pointer;
    font-size: 14pt;
    color: #a4a4a4;
    transition: color 0.5s linear;
  }
  
  #new-quote:hover {
    color: #ffaf00;
  }
  
  #tweet-quote {
    margin-left: 10px;
  }
  
  #tweet-quote:hover {
    color: #1da1f2;
  }